nav{
    background-color: white;
    text-align: center;
    margin: 0em 10em 0em 10em;
}

li{
    border: 2px solid white;
    list-style-type: none;
    display:inline-block;
    background-color: white;
    margin:2em 0em 0em 4.4em;
    padding:0em 2em 0em 2em;
    text-align: center;
    width: 270.688px;
    max-height: 85vh;
}
li.selected{
    border: 2px solid black;
}
input{
    width: 12px;
    text-align: center;
}
